@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
}

#app {
  width: 1440px;
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
  display: flex;
  align-items: center;
}

#component {
  width: 375px;
  padding: 16px;
  background-color: hsl(0, 0%, 100%);
  margin: auto;
  border-radius: 16px;
}

img {
  display: block;
  width: 100%;
  border-radius: 16px;
}

#slogan {
  font-weight: 700;
  text-align: center;
  font-size: 1.2rem;
  color: hsl(218, 44%, 22%)
}

#description {
  text-align: center;
  color: hsl(220, 15%, 55%)
}